#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  padding-bottom: 0; /* Prevent bottom padding from pushing up the footer */
}

.Footer {
  width: 99.5vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  text-align: center;
}
@import "tailwindcss";

